---
import { Button } from '@/components/ui/button';
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 Page Not Found">
    <section class="flex items-center h-full p-16 text-gray-800 select-none">
        <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
            <div class="max-w-md text-center">
                <h2 class="mb-8 font-extrabold text-9xl text-gray-400">
                    <span class="sr-only">Error</span>404
                </h2>
                <p class="text-2xl font-semibold md:text-3xl">
                    Sorry, we couldn't find this page or article.
                </p>
                <p class="mt-4 mb-8 text-gray-600">
                    But dont worry, you can find plenty of other things on our homepage.
                </p>
                <a rel="noopener noreferrer" href="/">
                    <Button size={'lg'}>
                        Back to Homepage
                    </Button>
                </a>
            </div>
        </div>
    </section>
</Layout>