---
import CallToAction from '@/components/ui/CallToAction.astro';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('November 08 2024')}
	heroImage="/beaker-placeholder.png">
	<div class="px-6 pt-10 pb-2 mb-8 bg-gray-200/70 rounded-lg border shadow-sm select-none">
		<h1 class="mb-2 text-4xl font-extrabold leading-none tracking-tight text-gray-900/90 md:text-5xl lg:text-6xl dark:text-white">
			We turn dreams <span class="underline italic underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600">into Reality.</span>
		</h1>
		<p class="text-lg font-bold text-gray-500/70 lg:text-xl dark:text-gray-400 pl-10">
			We are the publishing division of Blazed Labs.
		</p>
	</div>
	<div class="space-y-8 mb-3 text-gray-600 dark:text-gray-400">
		<h3 class="pt-5">
			Who We Are
		</h3>
		<p>
			We are Blazed Publishing, the publishing division of Blazed Labs. We are responsible for marketing, media production, copywriting, and content publishing.
		</p>
		<p>
			Blazed Labs LLC, founded in 2020 and based in Ocean City, New Jersey, is a software company dedicated to pioneering digital and physical publishing.
		</p>
		<a class="inline-flex mb-5 font-medium text-blue-600 dark:text-blue-500 hover:underline" title="Read More about Blazed Labs" href="https://blazedlabs.com/about" target="_blank">
			About Blazed Labs
		</a>
		<h3>
			What We Do
		</h3>
		<p>
			We are committed to delivering engaging, high-quality content that empowers, informs, and inspires. 
			Whether you’re an emerging voice or an established creator, our team combines innovation with craftsmanship to bring your stories and ideas to life across digital platforms and traditional media. 
			At Blazed Publishing, we believe in pushing the boundaries of content creation, making knowledge and creativity accessible for everyone, everywhere.
		</p>
		<p>
			If we can help you or your business with content creation, curation, editing, distribution, and IP; please inquire with our sales department for a quote.
		</p>
		<a class="inline-flex mb-5 font-medium text-blue-600 dark:text-blue-500 hover:underline" title="Inquire about our services" href="https://blazedlabs.com/contact" target="_blank">
			Inquire for a quote
		</a>
		<h3>
			Our Mission
		</h3>
		<p>
			Our mission is to create impactful, high-quality content that transcends borders, serving a global audience and celebrating voices from all backgrounds. 
			With a focus on innovation, accessibility, and craftsmanship, we partner with authors, creators, and thought leaders to bring their work to life in new and engaging formats. 
			Whether through immersive digital experiences or timeless print publications, Blazed Publishing is committed to shaping the future of content creation and distribution on a worldwide scale.
		</p>
	</div>
	<div class="mt-8">
		<a href="/media" class="flex no-underline text-white bg-blue-700 hover:bg-blue-800 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
			Explore Media
			<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
			</svg>
		</a>
	</div>
</Layout>
